<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="pBean" class="com.sudha.springApp.Product">
	<property name="pName" value="Laptop"></property>
	<!-- <constuctor-arg value="TV"></constuctor-arg>-->
	</bean>
    <!-- bean definitions here -->

</beans>